{% extends 'main/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<title>Login Page</title>
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="form-container">
        <h1 id="login-heading">Login</h1>
        <form id="login-form" action="/login/" method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                </p>
            {% endfor %}
            <input type="submit" value="Login" id="sbmt-btn">
        </form>
        <span id="register-link"><a href="/register">Don't have an account? Register here</a></span>
    </div>
</div>
<script type="text/javascript" src="{% static 'main/js/login.js' %}"></script>
{% endblock %}